services:
  ingest:
    build: .
    image: votre_pseudo_dockerhub/smartsearchengine:latest
    container_name: ingest
    # Permet de répondre au prompt [R/C] dans le terminal 
    tty: true
    stdin_open: true
    environment:
      - OCR_LANG=latin
    volumes:
      - ./raw-datasets:/app/raw-datasets
      - ./computed-data:/app/computed-data
      - ./logs:/app/logs
    command: ["ingest"]
    # La section deploy est ignorée par Docker si aucun GPU n'est présent
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  search:
    image: julienisrt/smart-search/smartsearchengine:latest
    container_name: search
    ports:
      - "8000:8000"
    volumes:
      - ./computed-data:/app/computed-data
      - ./logs:/app/logs
    command: ["serve"]
    restart: unless-stopped
    depends_on:
      ingest:
        condition: service_completed_successfully # Attend la fin de l'ingestion