# --- CORE IA & CALCUL TENSORIEL ---
torch==2.2.1
torchvision==0.17.1
transformers==4.38.0

# --- OCR & VISION ---
# Note : Si vous utilisez le GPU du Dockerfile, préférez 'paddlepaddle-gpu==2.6.2'
paddlepaddle==2.6.2
paddleocr==2.8.1
opencv-python-headless==4.9.0.80
Pillow==10.2.0

# --- DATA & FORMATS ---
pandas==2.2.0
numpy==1.26.3
h5py==3.10.0
pymupdf>=1.23.0

# --- VECTOR SEARCH ---
# Note : 'faiss-gpu' est préférable si vous utilisez la base NVIDIA du Dockerfile
faiss-cpu==1.8.0

# --- VISUALISATION & API ---
plotly==5.18.0
scikit-learn==1.4.0
fastapi==0.109.0
uvicorn==0.27.0
python-multipart==0.0.9

# --- UTILITAIRES ---
python-dotenv==1.0.0
tqdm==4.66.1
psutil==6.1.0
setuptools>=68.0.0